@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

body, h1, p, div, img, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --skyblue: rgba(1, 172, 253, 1);
    --aquamerin: rgba(5, 212, 223, 1);
    --blue: rgba(93, 88, 239, 1);
    --orange: rgba(254, 163, 1, 1);
    --green: rgba(149, 178, 38, 1);
    --font: "Quicksand", serif;
    --black: rgba(17, 17, 17, 1);

}




nav li, a{
    list-style: none;
    text-decoration: none;
}

#home{
    color: var(--orange);
}

#about{
    color: var(--skyblue);
}

#facilities{
    color: var(--aquamerin);
}

#admission{
    color: var(--blue);
}

.btn{
    color: white;
    background-color: var(--orange);
    border: none;
    border-radius: 12px;
    width: 197px;
    height: 50px;
    font-size: large;
}

.btn:hover{
    background-color: var(--skyblue);
}

.school-logo{
    display: flex;
    /* justify-content: left; */
    align-items: center;
    /* flex-direction: start; */
    gap: 10px;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* banner section starts here */

.banner{
    padding: 20px;
}

.banner-conainer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.banner .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.banner .btn{
    background-color: var(--black);
}

.banner .btn:hover{
 background-color: var(--skyblue);
}

.banner-photo{
    max-width: 50%;
}

.banner-photo img{
    width: 100%;
    height: auto;
    display: block;
}

.emp{
    color: var(--orange);
}

.towards{
    color: var(--skyblue);
}

.banner-txt{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    align-items: left;
    gap: 20px;
    /* border: 5px solid tomato; */
}



.banner-title{
    font-size: 2.5rem;
    font-weight: 43rem;
    margin-bottom: 20px;
}

.banner-description{
    font-size: 1rem;
    margin-bottom: 20px;
}


/* banner section ends here */


#hamburger{
    display: none;
}


/* Curriculum container section starts here */

.curriculum{
    display: flex;
    justify-content: center;
    align-items: center;
}

.curriculum-container{
    background-image: url(./assets/bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.curriculum-container .title{
    margin-bottom: 50px;
    font-size: 3rem;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 29px;
}


.card{
    /* background-color: #60a346; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding:10px 41px;
    width: 300px;
    height: 477px;
    gap: 30px;
}

.card-1{
    box-shadow: inset 0 -10px 20px rgba(222, 245, 255, 0.8);
    background: linear-gradient(
        rgba(222, 245, 255, 0.8),
        #ffffff 50%
    );    
}

.card-1 .read-more{
    color:rgba(100, 200, 255, 1);
}


.card-2{
    box-shadow:inset 0 -10px 20px rgba(255, 244, 220, 0.8);
    background: linear-gradient(
        rgba(255, 244, 220, 0.8),
        #ffffff 50%
    );
}

.card-2 .read-more{
    color: rgba(240, 170, 0, 1);
}


.card-3{
    box-shadow:inset 0 -10px 20px rgba(242, 232, 255, 0.8);
    background: linear-gradient(
        rgba(242, 232, 255, 0.8),
        #ffffff 50%
    );
}

.card-3 .read-more{
    color:rgba(135, 0, 255, 1);
}

.visiting{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 40px;
    /* height: 100px; */
    /* width: 250px; */
    /* background-color: var(--aquamerin); */
}

.visiting a{
    color: white;
    /* background-color: var(--orange); */
   
}

.page{
    
    background-color: var(--orange);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stories{
    display: flex;
    justify-content: space-around;
}

.story-container{
    height: 980px;
    
    background: linear-gradient(rgba(254, 163, 1, 0) 0%, rgba(254, 161, 1, 0.311) 100%), url('./assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

    gap: 50px;
    
    
}


.story-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.story-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 30px 90px;
    /* background-color: bisque; */

}

.brief-story{
    height: 100%;
    width: 50%;
    display: grid;
    /* display: none; */
    row-gap: 5px;
    column-gap: 5px;
    
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.main-card{
    position: relative;
    /* max-width: calc(50% - 10px); */
    height: 100%;
    width: 100vh;
    /* background-color:white; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 20px;
}

.main-card .photo{
background: url(./assets/story-1.png) no-repeat center center;
background-size: cover;
width: 100%;
height: 50%;
border-radius: 20px 20px 0px 0;

}



.head-details{
    width: 100%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding:2rem 2rem;
    border-radius: 0 0 20px 20px;
}

.date-box{
    position:absolute;
    top: 45%;
    width: 15vw;
    height: 5vh;
    color: white;
    background-color: var(--aquamerin);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    font-size: 1.5vw;
}





.story-card-2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
}

.story-card-2 .card-photo{
    background: url(./assets/story-2.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0px 0;
}



.story-card-2 .sub-headline{
    width: 100%;
    height: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 0 0 20px 20px;
    padding-top: 30px;
    padding-left: 10px;

}

.story-card-2 .date-box {
    top: 62%;
    left: 5%;
    background-color: rgba(149, 178, 38, 1);
    font-size: 1.5vw;
}

.story-card-3{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
}

.story-card-3 .card-photo{
    background: url(./assets/story-3.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0px 0;
}

.story-card-3 .sub-headline{
    width: 100%;
    height: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 0 0 20px 20px;
    padding-top: 30px;
    padding-left: 10px;
}


.story-card-3 .date-box {
    top: 62%;
    left: 5%;
    background-color: rgba(93, 88, 240, 1);
}


.story-card-4{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
}

.story-card-4 .card-photo{
    background: url(./assets/story-4.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0px 0;
}

.story-card-4 .sub-headline{
    width: 100%;
    height: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 0 0 20px 20px;
    padding-top: 30px;
    padding-left: 10px;
}


.story-card-4 .date-box {
    top: 50%;
    left: 5%;
    background-color: rgba(93, 88, 240, 1);
}

.story-card-5{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: content;
    height:100%;
    width: 100%;
}

.story-card-5 .card-photo{
    background: url(./assets/story-5.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0px 0;
}

.story-card-5 .sub-headline{
    width: 100%;
    height: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 0 0 20px 20px;
    padding-top: 30px;
    padding-left: 10px;
}

.story-card-5 .date-box {
    top: 48%;
    left: 5%;
    background-color: var(--skyblue);
}

.brief-story .date-box, .sub-headline{
    font-size: x-small;
}

.sbtn{
    background-color: black;
}


/* Footer section  starts */

.footer-container{
    height: 500px;
    width: 94.7vw;
    background-color: rgba(1, 172, 253, 1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    
}

.logo-school{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: center;
    gap: 5px;
}

.footer-logo{
    display: flex;
    justify-content: left;
    align-items: center;
}

.ad-para{
    padding-left: 10px;
}



.advertise{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30vw;
    /* align-items: center; */
    /* width: 20vw; */
    padding-left: 5vw;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    width: 30vw;
    padding-left: 10vw;
}

.links li{
    list-style: none;
    
}

.links li a{
    color: white;
}

.iconss{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: center; */
    /* width: 30vw; */
    
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30vw;
    padding-left: 5vw;

}

footer{
    display: flex;
    justify-content: center;
    
}

 
  



@media (max-width: 768px) {   
    
    .container{
        display: flex;
        background-color: white;
        /* border: 2px solid #675b5b; */
        align-items: center;
        justify-content: space-between;       
        
        
        box-shadow: 0 2px 5px rgba(234, 179, 13, 0.675);
    }

        
/* small device banner   */

    .banner .content{
        display: flex;
        justify-content: left;
        /* align-items: center; */
        flex-direction: column-reverse;
        text-align: center;
        /* width: 100vw; */
        /* border: 2px solid tomato; */
        /* background-color: #60a346; */
        /* height: 1000px; */
    }
    .banner-txt,.banner-photo{
        max-width: 100%;
    }
    .banner-photo{
        width: 100%; 
        /* max-width: 300px; */
        height: auto;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }
    .banner-title{
        font-size: 2rem;
    }

    .banner-description{
        font-size: 0.9rem;
    }

    .enroll-btn .btn{
        font-size: 0.9rem;
        padding: 6px 12px;
        display: block;
        background-color: var(--black);
        width: 150px;
        height: 50px;
    }


    .banner-txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        /* border: 5px solid tomato; */
        height: fit-content;
    }
   
 


    .school{
        display: none;
    }

    .menu{
        display: none;
    }

    .btn{
        display: none;
    }

    


    #hamburger {
        display: block;
        padding-right: 20px;
        font-size: 32px;
        color: #161c24;
        cursor: pointer;
      }
      
      #hamburger:hover {
        color: #60a346;
      }

      .curriculum-container .title{
        font-size: 2.5rem;
      }

      .card-container{
        flex-direction: column;
      }

      .visiting{
        display: none;
      }

      .main-card .photo{
        height: 50%;
        width: 100vw;
        /* border-radius: 10px; */
        background-size: cover;
      }

      .main-card .head-details{
        display: flex;
        height:50%;
        width: 100vw;
      }

      .main-card .date-box{
        top: 52%;
      }

      .main-card .headline{
        font-size: 1rem;
      }

      .story-card-container{
        flex-direction: column;
        height: 1200px;
        width: 100vw;        
      }
      .main-card{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 25px;
        margin-left: 25px;
      }

      .stories{
        flex-direction: column;
        justify-content: center;
      }

      .story-container{
        height: 1350px;
        flex-direction: column;
      }

      .cd{
        width: 45vw;
        height: 80%;
      }

      .sbtn{
        display: block;
        width: 20vw;
      }

.footer-container{
    height: fit-content;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20vh;

}

      
    
}




@media (max-width: 480px){

    .container{
        display: flex;
        background-color: white;
        /* border: 2px solid #675b5b; */
        align-items: center;
        justify-content: space-between;
        
        
        
        box-shadow: 0 2px 5px rgba(234, 179, 13, 0.675);
    } 

    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
    }

    .banner-title{
        font-size: 1.5rem;
    }

    .banner-description{
        font-size: 0.8rem;
    }

    .enroll-btn .btn {
        font-size: 0.8rem;
        padding: 6px 12px;
        display: block;
        background-color: var(--black);
        width: 150px;
        height: 50px;
    }

   
    


    #hamburger {
        display: block;
        /* padding-right: 20px; */
        font-size: 32px;
        color: #161c24;
        cursor: pointer;
      }
      
      #hamburger:hover {
        color: #60a346;
      }


      .banner .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        /* width: 100vw; */
        /* border: 2px solid tomato; */
        /* background-color: #60a346; */
        height: 1000px;
    }

    


    .banner-txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        /* border: 5px solid tomato; */
        height: fit-content;
    }


    .curriculum-container .title{
        font-size: 2rem;
      }
    
}




  