@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: var(--font);
}
:root{
    --skyblue: rgba(1, 172, 253, 1);
    --aquamerin: rgba(5, 212, 223, 1);
    --blue: rgba(93, 88, 239, 1);
    --orange: rgba(254, 163, 1, 1);
    --green: rgba(149, 178, 38, 1);
    --font: "Quicksand", serif;
    --black: rgba(17, 17, 17, 1);

}




nav li, a{
    list-style: none;
    text-decoration: none;
}

#home{
    color: var(--orange);
}

#about{
    color: var(--skyblue);
}

#facilities{
    color: var(--aquamerin);
}

#admission{
    color: var(--blue);
}

.btn{
    color: white;
    background-color: var(--orange);
    border: none;
    border-radius: 12px;
    width: 197px;
    height: 50px;
    font-size: large;
}

.school-logo{
    display: flex;
    /* justify-content: left; */
    align-items: center;
    /* flex-direction: start; */
    gap: 10px;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* banner section starts here */

.banner .btn{
    background-color: var(--black);
}

.emp{
    color: var(--orange);
}

.towards{
    color: var(--skyblue);
}

.banner-txt{
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    align-items: left;
    gap: 20px;
    /* border: 5px solid tomato; */
}

.banner .content{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.banner-title{
    font-size: 3rem;
    font-weight: 44rem;
}


/* banner section ends here */


#hamburger{
    display: none;
}
 
  



@media screen and (max-width:576px) {
    
    .container{
        display: flex;
        background-color: white;
        /* border: 2px solid #675b5b; */
        align-items: center;
        justify-content: space-between;
        
        
        
        box-shadow: 0 2px 5px rgba(234, 179, 13, 0.675);
    }

    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
    }

    
/* small device banner   */

    .banner .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        /* width: 100vw; */
        border: 2px solid tomato;
        /* background-color: #60a346; */
        height: 1000px;
    }

    .enroll-btn .btn{
        display: block;
        background-color: var(--black);
        width: 150px;
        height: 50px;
    }


    .banner-txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        /* border: 5px solid tomato; */
        height: fit-content;
    }
   
 


    .school{
        display: none;
    }

    .menu{
        display: none;
    }

    .btn{
        display: none;
    }


    

   

    


    #hamburger {
        display: block;
        padding-right: 20px;
        font-size: 32px;
        color: #161c24;
        cursor: pointer;
      }
      
      #hamburger:hover {
        color: #60a346;
      }
    
}




@media screen and (min-width:576px) and (max-width:992px){

    .container{
        display: flex;
        background-color: white;
        /* border: 2px solid #675b5b; */
        align-items: center;
        justify-content: space-between;
        
        
        
        box-shadow: 0 2px 5px rgba(234, 179, 13, 0.675);
    }

    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
    }

   



    .school{
        display: none;
    }

    .menu{
        display: none;
    }

    .btn{
        display: none;
    }

   

    


    #hamburger {
        display: block;
        padding-right: 20px;
        font-size: 32px;
        color: #161c24;
        cursor: pointer;
      }
      
      #hamburger:hover {
        color: #60a346;
      }


      .banner .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        /* width: 100vw; */
        border: 2px solid tomato;
        /* background-color: #60a346; */
        height: 1000px;
    }

    .enroll-btn .btn{
        display: block;
        background-color: var(--black);
        width: 150px;
        height: 50px;
    }


    .banner-txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        /* border: 5px solid tomato; */
        height: fit-content;
    }
    
}




  